*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
}

#topo{
    background:  #02CBFF;
    height:90px;
}

ul{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.56);
}

ul, li, span, a{
    display: block;
    overflow: hidden;
}

ul > li{
    float: left;
    text-align:center;
}

#primeiro{
    margin-left:33%;
}

ul > li:hover{
    background: #CCC;
}

li a,
li span{
    padding: 15px 30px;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

li:hover ol{
    display: block;
}

li ol{
    margin-left: -1px;
    display: none;
    border: 1px solid #CCC;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    position: absolute;
    margin-top: -6px;
    z-index: 5;
}


#menu{
    margin: 0;
    padding: 2px;

}

ol a{
    padding: 10px 5px;
    width: 105px;
    text-align: left;
}

ol a:hover{
    background: #AAA;
}

#nomeUsuario{
    float: left;
    margin-top: 16px;
    margin-left: 45px;
    color: #FFF;
    font-size: 16px;
}
